@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$myFont: "Montserrat", sans-serif;
$myFontSize: 62.5%;
$myColor: #111;
$myBgrColor: #f0f8ff;