<header id="header" class="h-24 fixed top-0 lg:px-8 md:px-4 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] 
    bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent text-slate-200">
    <div class="flex max-w-[1200px] mx-auto h-full justify-between">
        <a href="/index.html" class="flex justify-center items-center hover:text-white">
            <img src="/imgs/logo.png" class="h-20">
            <h1 class="ml-2 text-6xl tracking-wider">MINNER</h1>
        </a>
        <nav class="flex items-center text-3xl">
            <li id="headerExplore" class="px-2 min-w-32 leading-[6rem] block text-center font-semibold hover:text-white relative cursor-pointer"><span>Explore <i class="fa-solid fa-angle-down"></i></span>
                <ul class="absolute top-full right-0 bg-slate-100 text-slate-600 font-medium rounded-md overflow-hidden drop-shadow-lg hidden">
                    <li><a class="py-4 px-4 min-w-52 text-left leading-10 block hover:bg-slate-200" href="#">Helps</a></li>
                    <li><a class="py-4 px-4 min-w-52 text-left leading-10 block hover:bg-slate-200" href="#">Docs</a></li>
                </ul>
            </li>
            <li class="h-full"><a class="px-2 min-w-32 leading-[6rem] block text-center font-semibold hover:text-white" href="#">Helps</a></li>
            <li class="h-full"><a class="px-2 min-w-32 leading-[6rem] block text-center font-semibold hover:text-white" href="#">Docs</a></li>
            <li class="h-full"><a class="px-2 min-w-32 leading-[6rem] block text-center font-semibold hover:text-white flex justify-center items-center" href="/auth.html"><div class="w-10 h-10 rounded-full mr-2" style="background: url('/imgs/de-avatar.png') center center / cover no-repeat;"></div><span class="">User</span></a></li>
        </nav>
    </div>
</header>