<main id="main">
    <div id="root"></div>
    <script src="/dist/bundle.js"></script>
</main>
<!-- <main id="main" class="min-h-screen">
    <div class="pt-[50%] relative" style="background: url('./imgs/slide.jpg') top center / cover no-repeat;">
        <div class="absolute bottom-[24px] left-1/2 translate-x-[-50%]">
            <div class="text-white">
                <h1 class="text-6xl text-center mb-8 font-semibold text-shadow">CALL API TELEGRAM UI</h1>
                <div class="text-3xl text-center text-slate-100 leading-10 text-shadow">Search fast, access data easily, with Telegram at your fingertips.</div>
            </div>
        </div>
    </div>
</main> -->
<!-- <main id="main" class="">
    <div class="py-24 bg-slate-900">
        <div class="max-w-[1200px] mx-auto">
            <div class="flex justify-center items-center text-3xl">Total Reports: <span class="inline-block ml-2"> 10148</span></div>
            <div class="w-full pt-8">
                <div class="flex flex-col justify-center p-4 rounded-lg border border-sky-800">
                    <label for="searchKeyWord" class="text-3xl">Search for a Keyword</label>
                    <input type="text" name="searchKeyWord" id="searchKeyWord" class="text-slate-800 w-full leading-10 mt-4 py-2 px-4 rounded-md focus:outline-2 
                    focus:outline-offset-2 focus:outline-blue-900" placeholder="Search for a keyword ...">
                </div>
            </div>
            <div class="pt-8">
                <ul class="grid gap-x-8 gap-y-8 grid-cols-4">
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 1</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 2</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 3</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 4</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 5</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 6</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 7</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 8</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 9</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 10</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 11</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 12</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 13</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 14</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 15</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 16</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 17</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 18</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 19</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 20</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 21</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 22</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 23</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 24</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 25</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 26</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 27</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 28</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 29</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 30</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 31</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 32</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 33</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 34</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 35</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 36</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 37</div>
                    </li>
                    <li class="">
                        <div class="p-2 hover:bg-cyan-400 border border-transparent active:border-solid active:border-sky-500 active:bg-transparent active:text-slate-100 rounded-lg leading-10 bg-cyan-600 text-slate-900 text-center">block 38</div>
                    </li>
                </ul>
                <div class="flex justify-center items-center mt-8">
                    <button type="button" class="hover:bg-cyan-400 active:bg-transparent active:outline-2 active:outline-blue-900 active:outline-offset-2 active:text-slate-100 focus:outline-none px-8 py-4 rounded-lg leading-10 bg-cyan-600 text-slate-900">Load More</button>
                </div>
            </div>
        </div>
    </div>
</main> -->