<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALL API TELEGRAM UI</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body class="text-slate-600 dark:text-slate-400 bg-white dark:bg-slate-900 relative z-0 text-2xl font-medium">
    <%- include('partials/header');%>
    <%- include('partials/main');%>
    <%- include('partials/footer');%>
</body>
</html>